html {
	box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	width: 100vw;
	background: $color__background-body;
	overflow-x: hidden;
}

header {
	display: flex;
	position: relative;
	width: 100vw;
	height: $height__header;
  justify-content: space-between;
	padding: 0;
	z-index: 99999;
	overflow: visible;
	background: $color__background-main;
	
	@media screen and (min-width: 37.5em) {
	}
}

main {
	background: $color__background-main; /* Fallback for when there is no custom background color defined. */
	@media screen and (min-width: 37.5em) {
		margin: auto;
		width: 62vw;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	overflow: visible;
	position: relative;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

footer {
}

@import "tables";
