$font__main: 'Open Sans', sans-serif;
$font__heading: 'Nunito', sans-serif;
$font__code: "DejaVu Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
